.mainPageHeader{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    padding: 10px;
}

.mainPageHeader a{
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: white;
}

.logOutLink:hover{
    cursor: pointer;
}


@media (min-width: 640px){
    .mainPageHeader{
        padding: 20px;
    }
}